.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
  10fr 20fr 20fr  /* Map + Latest */
  15fr 15fr       /* Sorted + Latest */
  15fr 15fr       /* Sorted + Graphs */
  20fr;           /* Graphs */
  grid-template-areas:
  "map    latest"
  "map    latest"
  "map    latest"
  "sorted latest"
  "sorted latest"
  "sorted graphs"
  "sorted graphs"
  "sorted graphs" 
  ".      graphs";
  height: 130vh; 
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.map-area {
  grid-area: map;
  overflow-y: hidden;
}
