.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;      
  width: 100vw;
}

.content-area {
  display: flex;
  flex-grow: 1;     
  overflow: hidden;
}

.sidebar {
  width: 150px;
  background-color: var(--color-bg-darker);
  height: 100%;
  overflow-y: hidden;
  flex-shrink: 0;
}

.main-content {
  margin-left: 150px;        
  flex-grow: 1;            
  overflow-y: auto;          
  background-color: var(--color-bg-darkest);
  padding: 1rem;
  box-sizing: border-box;
  min-height: 0;             
  height: auto;        
}

