.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin-right: 1.5rem;
  overflow: visible;
}

.map-image {
  width: 90%;          
  max-width: 1100px;   
  height: auto;        
  object-fit: contain;  
  border-radius: 8px;
}
