# Dependencies (applies to both frontend and backend)
**/node_modules/
**/.pnp
.pnp.js

# Build/compiled files
**/build/
**/dist/
**/coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/Editor files
.DS_Store
.idea/
.vscode/

# Backend-specific
**/.cache/
**/uploads/

# Frontend-specific
.eslintcache

# Gradle / Android / Kotlin build files
.gradle/
.kotlin/
android/
local.properties
assets/

# Python / ML Service
**/__pycache__/
**/*.py[cod]
*$py.class
*.so
.Python
**/venv/
**/env/
**/ENV/
**/.venv
*.log
**/*.pth
**/*.ipynb

# Visual Studio
.vs/

# Blockchain build files
blockchain/**/x64/
blockchain/**/*.obj
blockchain/**/*.exe
blockchain/**/*.ilk
blockchain/**/*.pdb
blockchain/**/*.idb
blockchain/**/*.log
blockchain/**/*.tlog/
blockchain/**/*.recipe
